<main>


    <form class="post" action="" method="post">
        <h2>Thêm tin</h2>
        <table>
            <tr>
                <td class="post-title"><input name="title" type="text" placeholder="Tiêu đề"></td>
                <td class="post-author"><input name="author" type="text" placeholder="Tác giả"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <select name="categogy" id="post-categogy">
                        <option value="64577f14326d09b6f73a024f" class="who" selected>Thể loại</option>
                        <option value="64577e7ddaf0e4da306e3f20">Câu chuyện Phân tích yêu cầu</option>
                        <option value="64577e7ddaf0e4da306e3f21">Trải nghiệm của Nhà thiết kế</option>
                        <option value="64577e7ddaf0e4da306e3f22">Cái khổ của Coder</option>
                        <option value="64577f14326d09b6f73a024d">Nỗi lòng của Tester</option>
                        <option value="64577f14326d09b6f73a024e">Con đường của Quản lý dự án</option>
                        <option value="64577f14326d09b6f73a024f">Dân IT và cái kết</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="summary" id="post-summary" cols="40" rows="3"
                        placeholder="Tóm tắt bài đăng"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="detail" id="post-detail" cols="40" rows="10"
                        placeholder="Bạn có điều gì muốn nói?"></textarea></td>
            </tr>
            <tr>
                <td class="post-img"><input name="image" type="file"></td>
            </tr>
            <tr>
                <td class="post-submit" colspan="2"><input type="submit"></td>
            </tr>
        </table>
    </form>
</main>