<div class="news-category">
    <h1>Lục đạo luân hồi của Software Engineer</h1>

    <div class="item">
        <img src="/images/home/BA.jpg" alt="" class="item-image">
        <div class="item-name">Câu chuyện phân tích yêu cầu</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
    <div class="item">
        <img src="/images/home/Designer.jpg" alt="" class="item-image">
        <div class="item-name">Trải nghiệm của Nhà thiết kế</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
    <div class="item">
        <img src="/images/home/Dev.jpg" alt="" class="item-image">
        <div class="item-name">Cái khổ của Coder</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
    <div class="item">
        <img src="/images/home/Tester.jpg" alt="" class="item-image">
        <div class="item-name">Nỗi lòng của Tester</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
    <div class="item">
        <img src="/images/home/Project.png" alt="" class="item-image">
        <div class="item-name">Con đường của Quản lý dự án</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
    <div class="item">
        <img src="/images/home/sad.jpg " alt="" class="item-image">
        <div class="item-name">Dân IT và cái kết</div>
        <a href="#" class="item-more">Chi tiết</a>
    </div>
</div>