<header>
    <a href="/">Entier Blog</a>
    <div class="top-menu">
        <a href="/admin/">Trang Chủ</a><a href="/admin/introduce">Giới Thiệu</a><a href="/admin/post">Bài
            Viết</a><a href="/admin/post/add">Thêm bài viết</a><input type="text" placeholder="Tìm kiếm gì đó?"><a
            href="#" class="search"></a>
    </div>
</header>