<header>
    <a href="/">Entier Blog</a>
    <div class="top-menu">
        <a href="/">Trang Chủ</a><a href="/introduce">Giới Thiệu</a><a href="/post">Bài
            Viết</a><input type="text" placeholder="Tìm kiếm gì đó?"><a href="#" class="search"></a>
    </div>
</header>