<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/<%= link %>.css">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <script src="/javascripts/jquery-3.6.4.min.js"></script>
    <script src="/javascripts/all.js"></script>
    <script src="/javascripts/all.min.js"></script>
    <script src="/javascripts/<%= link %>.js"></script>
</head>