<%- include('head', {title: 'Trang chủ' , link: 'home' }) %>

    <main>
        <div class="banner">
            <div class="banner-content">
                <div class="banner-title">Entier Blog</div>
                <p>Chào mừng đến với Blog Entier - một không gian để chia sẻ những kiến thức, kinh nghiệm, cũng như các
                    ý tưởng mới nhất về công nghệ phần mềm. Hãy cùng chia sẻ và học hỏi với chúng tôi và các kỹ sư công
                    nghệ phần mềm để nâng cao kiến thức và kỹ năng của mình. Chúng tôi mong muốn được đón nhận và chia
                    sẻ với mọi người về những điều mới mẻ và thú vị nhất trong lĩnh vực công nghệ phần mềm. Hãy cùng
                    tham gia cùng Blog Entier để khám phá và trau dồi kiến thức của bạn.</p>
                <a href="#" class="banner-contact-button">Tham gia</a>
            </div>
            <img src="/images/home/banner.jpg" alt="" class="banner-image">
            <div class="banner-ellipse"></div>
        </div>

        <div class="latest-news">
            <div class="news-tittle">Tôi đi học code</div>
            <div class="news-date">08-05-2023</div>
            <summary class="news-summary">"Tôi đi học code" - một hành trình đầy thử thách, nhưng cũng đầy tiềm năng.
                Tôi đã đặt chân vào con đường này với niềm đam mê và tò mò, và nhận ra rằng tôi đã chọn đúng. Học code
                không chỉ giúp tôi hiểu rõ hơn về các khái niệm kỹ thuật, mà còn mở ra một thế giới mới, với những cơ
                hội tuyệt vời để tìm kiếm và tạo ra những sản phẩm ấn tượng. Tôi học cách suy nghĩ logic, phát triển tư
                duy sáng tạo, và cả cách làm việc nhóm. Với sự hướng dẫn của giảng viên tận tình và những người bạn cùng
                học nhiệt tình, tôi tin rằng tôi sẽ tiếp tục đi được một đoạn đường dài trên con đường này, với nhiều
                bài học và thành tựu đáng tự hào."</summary>
        </div>

        <%- include('categogy') %>
    </main>

    <div class="contact-background">
    </div>
    <div class="contact-container">
        <div class="contact">
            <div class="close"><i class="fa-solid fa-xmark" style="color: #ffffff;"></i></div>
            <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
            <form action="/" method="post" id="contact-form">
                <table>
                    <tr>
                        <td class="contact-name"><input name="contact-name" type="text" placeholder="Họ tên">
                        </td>
                        <td class="contact-mail"><input name="contact-mail" type="text" placeholder="E-mail">
                        </td>
                    </tr>
                    <tr>
                        <td class="contact-phone"><input name="contact-phone" type="text" placeholder="Điện thoại">
                        </td>
                        <td class="contact-address"><input name="contact-address" type="text" placeholder="Địa chỉ">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <select name="contact-who" id="contact-who">
                                <option value="Không rõ" class="who" selected>Bạn là ai?</option>
                                <option value="Học sinh - sinh viên">Học sinh - sinh viên</option>
                                <option value="Nhà phân tích">Nhà phân tích</option>
                                <option value="Nhà thiết kế">Nhà thiết kế</option>
                                <option value="Lập trình viên">Lập trình viên</option>
                                <option value="Kiểm thử viên">Kiểm thử viên</option>
                                <option value="Quản lý dự án">Quản lý dự án</option>
                                <option value="Khác">Khác</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><textarea name="contact-other" id="contact-other" cols="40" rows="10"
                                placeholder="Bạn có điều gì muốn nói?"></textarea></td>
                    </tr>
                    <tr>
                        <td class="contact-submit" colspan="2"><input type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>