<main>
    <h1>ABOUT ME</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem excepturi tenetur dignissimos
        incidunt
        alias
        ad cupiditate expedita magnam quod perspiciatis autem adipisci nulla ipsam, iure, suscipit non
        assumenda
        eaque rerum maiores exercitationem. Voluptatibus deserunt repellat, minus quas labore expedita
        repellendus
        magnam nisi commodi animi corporis, modi, voluptatum assumenda? Molestiae, nesciunt.</p>
    <div class="about-blog container">
        <h2>Đôi nét về Blog</h2>
        <p>Entier là một blog chuyên về lập trình và công nghệ, cung cấp cho độc giả những kiến thức bổ ích về lập trình
            web, ứng dụng di động, trí tuệ nhân tạo, khoa học dữ liệu, đồng thời cũng giới thiệu những công nghệ mới và
            xu hướng phát triển trong lĩnh vực này.
            <br>
            <br>
            Chủ đề của Entier rất đa dạng, từ những bài viết cơ bản dành cho những người mới bắt đầu đến những nội dung
            chuyên sâu và phức tạp hơn, giúp cho người đọc có thể tiếp cận và tìm hiểu được những kiến thức mới nhất
            trong lĩnh vực công nghệ thông tin.
            <br>
            <br>
            Ngoài ra, Entier còn là nơi để các kỹ sư và nhà phát triển chia sẻ kiến thức, kinh nghiệm, cũng như đặt câu
            hỏi và trao đổi với cộng đồng lập trình viên, giúp cho mọi người có thể học hỏi và phát triển kỹ năng của
            mình.
            <br>
            <br>
            Với sứ mệnh truyền tải kiến thức và kết nối cộng đồng, Entier mong muốn trở thành một điểm đến đáng tin cậy
            cho những ai đam mê lập trình và công nghệ, giúp họ nâng cao kỹ năng và khám phá những cơ hội mới trong
            ngành này.
        </p>
        <img src="/images/introduce/blog1.jpg" alt="">

    </div>

    <div class="about-blog-owner container">
        <h2>Chủ blog là ai</h2>
        <h3>Entier - Từ một kỹ sư phần mềm tiềm năng</h3>
        <p>
            Entier, tên thật là Nguyễn Ngọc Truyện, là một kỹ sư phần mềm trẻ tuổi đầy triển vọng. Anh sinh năm 2002 tại
            Cần
            Thơ và đang theo học ngành Kỹ thuật phần mềm tại Đại học Cần Thơ. Dù đã 21 tuổi, nhưng Entier vẫn giữ cho
            mình một tính cách hướng nội và nhát gái như hồi còn đi học trung học.
            <br><br>
            Tuy nhiên, khi vào đại học, Entier bắt đầu phát hiện ra niềm đam mê mãnh liệt với lập trình và coding. Anh
            tự học các ngôn ngữ lập trình, tạo ra các ứng dụng đơn giản và trau dồi kỹ năng của mình bằng cách tham gia
            các khóa học lập trình.
            <br><br>
            Với trí tuệ và sự nỗ lực không ngừng nghỉ, Entier đã tự mình xây dựng một blog cá nhân với mong muốn chia sẻ
            kiến thức, kinh nghiệm và những sản phẩm của mình với cộng đồng. Blog của Entier mang đến cho người đọc
            những thông tin hữu ích về lập trình và công nghệ, cũng như những bài viết tâm sự về cuộc sống và sự nghiệp
            của một kỹ sư trẻ.


        </p>

        <img src="/images/introduce/owner1.jpg" alt="">
        <img src="/images/introduce/owner2.jpg" alt="">
        <img src="/images/introduce/owner3.jpg" alt="">


        <p>
            Với sự nhiệt huyết và tinh thần khát khao thành công, Entier đang nỗ lực để phát triển blog của mình và
            giành được sự quan tâm từ cộng đồng. Blog của anh được xem là một trong những nguồn thông tin hữu ích và
            đáng tin cậy về lập trình và công nghệ cho các lập trình viên và sinh viên Kỹ thuật phần mềm.
            <br><br>
            Các bạn hãy cùng đón chờ những sản phẩm mới và những chia sẻ đầy bổ ích từ Entier trong tương lai.
        </p>
    </div>

    <div class="news-category">
        <h1>Blog này có những gì ?</h1>

        <div class="item">
            <img src="/images/home/BA.jpg" alt="" class="item-image">
            <div class="item-name">Câu chuyện phân tích yêu cầu</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
        <div class="item">
            <img src="/images/home/Designer.jpg" alt="" class="item-image">
            <div class="item-name">Trải nghiệm của Nhà thiết kế</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
        <div class="item">
            <img src="/images/home/Dev.jpg" alt="" class="item-image">
            <div class="item-name">Cái khổ của Coder</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
        <div class="item">
            <img src="/images/home/Tester.jpg" alt="" class="item-image">
            <div class="item-name">Nỗi lòng của Tester</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
        <div class="item">
            <img src="/images/home/Project.png" alt="" class="item-image">
            <div class="item-name">Con đường của Quản lý dự án</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
        <div class="item">
            <img src="/images/home/sad.jpg " alt="" class="item-image">
            <div class="item-name">Dân IT và cái kết</div>
            <a href="#" class="item-more">Chi tiết</a>
        </div>
    </div>
</main>