<main>
    <h1>TÂM SỰ TUỔI XANH</h1>
    <p>Những bài viết trên Entier Blog mang đến cho bạn những góc nhìn thú vị về công nghệ, khoa học và đời sống. Chúng
        tôi luôn cố gắng cập nhật những thông tin mới nhất và đáng chú ý để chia sẻ với bạn đọc. Cùng trải nghiệm những
        câu chuyện đầy sáng tạo và cảm hứng trên trang bài viết của chúng tôi.</p>
    <div class="container main">
        <% for( let index=0; index < data.length; index++ ) { %>
            <%- include('post-item', {post: data[index]}) %>
                <% } %>

    </div>
    <div class="container topic">
        <h1>Các chủ đề</h1>
        <a href="">Câu chuyên phân tích yêu cầu</a>
        <a href="">Trải nghiệm của Nhà thiết kế</a>
        <a href="">Cái khổ của Coder</a>
        <a href="">Nỗi lòng của Tester</a>
        <a href="">Con đường của Quản lý dự án</a>
        <a href="">Dân IT và cái kết</a>
</main>

<script>
    fetch('/post/data')
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.log(error))
</script>